*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logo{
    margin-left: 2px;
}
a{
    text-decoration: none;
    color: #000;
}
.hero-section{
    background-image: url(https://via.placeholder.com/1800x1200);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}